/**
 * Styles for the login screen
 */
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');


$input-border-color: #C5C5C5;
$input-border-right-color: #8B8B8B;
$input-border-bottom-color: #8B8B8B;
$pixel-font: 'Press Start 2P', cursive;

html, body {
  height: 100%;
  width: 100%;
}


a, a:visited {
  color: #000000;
}

body {
  background-image: url("../images/dnc/login-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  overflow: hidden;
  font-family: $pixel-font;
}

.center-box {
  min-width: 612px;
  height: 40vh;
  min-height: 385px;
  background-color: rgba(255, 255, 255, 0.6);

  position: fixed;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 5px solid #FFD700;
  border-right-color: #CCAC00;
  border-bottom-color: #CCAC00;
  text-align: center;
}

.form-outer {
  width: 90%;
  margin: auto;
}

.form-elem {
  display: block;
  margin: 10px;
}

.form-elem-sm {
  font-size: .7em;
}

.form-elem-button {
  display: block;
  margin: 10px;
  padding: 0 25px;
}

label {
  display: inline-block;
  width: 180px;
  text-align: left;
}

input[type='text'], input[type='password'], input[type='email'] {

  border: 3px solid $input-border-color;
  border-right-color: $input-border-right-color;
  border-bottom-color: $input-border-bottom-color;
  padding: 5px;
  font-size: 0.9em;
  font-family: $pixel-font;
  color: #626262;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border: 3px solid $input-border-color;
  border-right-color: $input-border-right-color;
  border-bottom-color: $input-border-bottom-color;
}

input[type="checkbox"]:checked {
  background-color: #909090;
}

.center-box > .footer-info {
  position: fixed;
  bottom: 10px;
  font-size: 0.7em;
  right: 0;
  left: 0;
}

.box-toggle:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-family: $pixel-font;
  border: 3px solid $input-border-color;
  border-right-color: $input-border-right-color;
  border-bottom-color: $input-border-bottom-color;
  background-color: #f0f0f0;
}

.button:hover {
  background-color: #d8d8d8;
}

.about-text {
  padding: 15px;
  text-align: justify;
}

.not-supported-text {
  text-align: center;
}

.not-supported h2 {
  margin-top: 20%;
}