@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');


html, body {
    height: 100%;
    width: 100%;
}

body {
    background-image: url("../images/login-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    overflow: hidden;
    font-family: 'Press Start 2P', cursive;
}

.center-box {
    width: 30%;
    height: 340px;
    background-color: rgba(255, 255, 255, 0.6);

    position: fixed;
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 5px solid gold;
    border-radius: 5px;

    padding: 20px;

    text-align: center;

}

.center-box > .footer-info {
    position: fixed;
    bottom: 10px;
    font-size: 0.7em;
    right: 0;
    left: 0;
}

.box-toggle:hover{
    text-decoration: underline;
    cursor: pointer;
}